/* Reset some default styles */
body,
h1,
p,
ul,
li,
a,
input,
button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

/* Header and nav Bar */
header {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.search-login {
  display: flex;
  align-items: center;
}

.search-login input {
  padding: 5px;
  margin-right: 10px;
}

.search-login button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-login a {
  margin-left: 20px;
  text-decoration: none;
  color: #5f4d4d;
  font-weight: bold;
}

.hero-section {
  background: url("assets/images/banner-image.jpg");
  color: #832121;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.hero-content .btn {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Footers */
.footer {
  background-color: #232423;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 20px 0 20px;
}

.footer-container {
  margin-bottom: -1px;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.footer-column h3 {
  margin-bottom: 10px;
}
.footer-column p {
  font-size: 14px;
  padding-top: 6px;
  margin-right: 6px;
}
.footer-column ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.footer-column ul li {
  padding: 3px;
  margin-bottom: 5px;
}
.footer-column ul a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}
.footer-column input[type="email"] {
  border: none;
  padding: 10px;
  width: 200px;
  margin-right: 5px;
  margin: 6px;
}
.great-deal {
  font-size: 10px;
  width: 60%;
  margin: 6px;
}
.footer-column button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 6px;
  width: 220px;
}
.footer-bottom {
  /* background-color: black; */
  display: flex;
  flex: 1;
  padding: 14px;
  margin: 30px;
  width: 95%;
  box-sizing: border-box;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 40px;
}
.social-icons img {
  width: 24px;
  height: 24px;
  margin: 3px;
  margin-right: 8px;
}
